
<div id="hero">
    <div>
        <h1>Colectivo BPM</h1>
        <p>Esta es la oportunidad de darte a conocer mejor y demostrar todos tus talentos!</p>
        <a href="https://soundcloud.com/listen_to_double_a_a" class="linkBoton"> ver en soundcloud</a>
    </div>
    <img src="./assets/img/image00012.png" alt="foto de entrada">
    


</div>

<app-fotos id="fotos" [fotos]="fotos()"> </app-fotos>
<app-section-simple
  titulo="Nuestra misión"
  descripcion="Inspirar a la comunidad creativa a través de la colaboración, el arte y la innovación. Creemos en el poder de compartir ideas para transformar el mundo."
  imagen="assets/img/1758669715750-IMG_0508.jpg">
</app-section-simple>

<app-eventos> </app-eventos>

<app-unete></app-unete>